[Unit]
Description=prime-air test DNS filter service
After=network.target

[Service]
ExecStart=/path/to/your/custom/service
WorkingDirectory=/path/to/your/custom/service/directory

[Install]
WantedBy=multi-user.target
